@import "tailwindcss";
@media print {
    body {
        background: white;
    }

    body * {
        visibility: hidden;
    }

    .print-area,
    .print-area * {
        visibility: visible;
    }

    .print-area {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        border: none !important;
        box-shadow: none !important;
        display: block !important;
    }

    .print\:hidden {
        display: none !important;
    }
}
